<h1 class="mt-4">Paciente</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container">
    <form #consultaForm="ngForm" (submit)="consultar()">
        <div class="col-md-6">
            <label for="inputNome">Nome do paciente:</label>
            <input type="text" 
                [(ngModel)]="nome" 
                name="nome" 
                id="inputNome" 
                class="form-control"
            >
        </div>
   
    
        <br>

        <div class="row">
            <div class="col-md-4 ml-3">
                <button type="submit" 
                    class="btn btn-primary"
                >
                    <i class="fa fa-search mr-1"></i>Consultar
                </button>

                <button type="button" 
                    class="btn btn-warning ml-1" 
                    routerLink="/pacientesForm"
                >
                    <i class="fa fa-plus"></i>Novo
                </button>
            </div>
        </div>
    </form>

    <br>

    <div class="row">
        <div class="alert alert-warning col-12" role="alert" *ngIf="menssagem">
            {{menssagem}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data do Exame</th>
                    <th>Status</th>
                    <th>Exame</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of lista">
                    <td>{{ paciente.nome }}</td>
                    <td>{{ paciente.dataExame }}</td>
                    <td>{{ paciente.status }}</td>
                    <td>{{ paciente.exame.nome }}</td>
                    <td>
                        <button class="btn btn-primary" 
                            routerLink="/pacientesForm/{{ paciente.id }}"
                        >
                            <i class="fa fa-pen-square"></i> 
                        </button>
                        <button class="btn btn-danger ml-1" 
                            (click)="preparaDelecao(paciente)"
                            data-toggle="modal"
                            data-target="#modalSelecao"
                        >
                            <i class="fa fa-trash"></i> 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="modalSelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="pacienteSelecionado">
                     Confirma a deleção do Paciente {{ pacienteSelecionado.nome }} ?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success"
                    data-toggle="modal"
                    data-target="#modalSelecao" 
                    (click)="deletarExame()"
                    data-dismiss="modal">Confirmar</button> 

                    <button class="btn btn-danger" 
                    data-dismiss="modal">Cancelar</button>                     
                </div>
            </div>
        </div>
    </div>

</div>

